<!DOCTYPE HTML>
<html>
<body class="homepage">
  <div class="row">
    <div class="col-md-4">
      <div class="searchtitle">
        <%= t ".search" %>
      </div>
      <div class="searchtour">
        <%= t ".want" %>
        <%= form_tag searchresult_path, method: :get do %>
          <div class="row">
            <div class="col-md-8 cusinput">
              <div class="input-group cusinput">
                  <%= text_field_tag :term, params["term"], class: "form-control ipsize", id: "filter-autocomplete-search",
                    placeholder: t(".enterplace") %>
              </div>
            </div>
            <div class="col-md-4 cussearch">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="placefr">
        <div class="searchtitle">
          <%= t ".farvoriteplace" %>
        </div>
        <div class="findplace">
          <div class="placetit">
            <div><%= link_to t(".danang"), "#" %></div>
            <div><%= link_to t(".nhatrang"), "#" %></div>
            <div><%= link_to t(".danang"), "#" %></div>
            <div><%= link_to t(".nhatrang"), "#" %></div>
            <div><%= link_to t(".danang"), "#" %></div>
            <div><%= link_to t(".nhatrang"), "#" %></div>
            <div><%= link_to t(".danang"), "#" %></div>
            <div><%= link_to t(".nhatrang"), "#" %></div>
            <div><%= link_to t(".danang"), "#" %></div>
            <div><%= link_to t(".nhatrang"), "#" %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 totalrow">
      <div class="country"><%= t ".country" %></div>
      <div class="pagi"><%= paginate @tours, :theme => "twitter-bootstrap-3" %>
      </div>
      <% @tours.each do |tour| %>
        <div class="row borderrow">
          <div class="col-md-3 imgrow">
            <%= image_tag(tour.image, width: "200", height: "150") %>
          </div>
          <div class="col-md-6 titletour">
            <%= tour.tour_name %>
            <div>
              <%= t ".tourcode" %><%= tour.id %>
            </div>
            <div>
              <span class="glyphicon glyphicon-time"></span>
              <%= tour.number_day %><%= t ".day" %>
              <%= tour.number_night %><%= t ".night" %>
            </div>
          </div>
          <div class="col-md-3 pricerow">
            <div class="oneprice">
              <%= t ".priceone" %>
            </div>
            <%= number_to_vnd(tour.price) %><%= t ".vnd" %>
            <div class="detailbtn">
              <%= link_to mytour_path(id: tour.id),
                class: "btn btn-danger textal" do %>
                  <%= t ".detail" %>
                  <span class="glyphicon glyphicon-chevron-right"></span>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="pagi"><%= paginate @tours, :theme => "twitter-bootstrap-3" %>
      </div>
    </div>
  </div>
</body>
</html>
