 <div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><%= @tour.tour_name %></h4>
    </div>
    <div class="modal-body">
      <%= form_for @booking do |f| %>
        <div class="alrow">
          <div class="row">
            <div class="col-md-7">
              <%= f.text_field :total_price, value: @booking.total_price,
                class: "total_price totalprice", readonly: true %>
            </div>
            <div class="col-md-5"><%= t ".vnd" %></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 numberr">
            <div class="guestrow"><%= t ".guest" %></div>
          </div>
          <div class="col-md-5 numberr">
            <%= f.hidden_field :tour_id, value: @booking.tour_id, class: "form-control" %>
            <%= f.hidden_field :price, value: @tour.price, class: "form-control", id: "price" %>
            <div class="input-group">
              <span class="input-group-btn">
                <span id="down" class="btn btn-default">
                  <span class="glyphicon glyphicon-minus"></span>
                </span>
              </span>
              <%= f.text_field :number_customer, value: @booking.number_customer,
                class: "form-control addcus", id: "customer", readonly: true %>
              <span class="input-group-btn">
                <span id="up" class="btn btn-default spanadd">
                  <span class="glyphicon glyphicon-plus"></span>
                </span>
              </span>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6 btnsub">
            <%= f.submit t(".booktour"), class: "btn btn-danger" %>
          </div>
          <div class="col-md-3"></div>
        </div>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        <%= t ".close" %>
      </button>
    </div>
  </div>
</div>
