<% if logged_in? %>
  <%provide :title, @current_user.name %>
  <div class="profile">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="detail text-left">
          <h2 class="text-center"><b><%= t ".profile_header" %></b></h2>
          <table class="table table-responsive">
            <tbody>
            <tr>
              <td><%= t ".name" %></td>
              <td><%= @current_user.name %></td>
            </tr>
            <tr>
              <td><%= t ".email" %></td>
              <td><%= @current_user.email %></td>
            </tr>
            <tr>
              <td><%= t ".sex" %></td>
              <td><%= @current_user.sex %></td>
            </tr>
            <tr>
              <td><%= t ".address" %></td>
              <td><%= @current_user.address %></td>
            </tr>
            <tr>
              <td><%= t ".phone" %></td>
              <td><%= @current_user.phone %></td>
            </tr>
            </tbody>
          </table>
          <div class="text-center">
            <%= link_to t(".update"), edit_user_path(current_user), class: "btn btn-lg btn-primary" %>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
<% end %>
