<header id="home">
  <div class="main_menu_bg">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid" id="colla">
            <div class="navbar-header">
              <ul class="nav navbar-nav navbar-left">
                <li><%= link_to t(".home"), root_path %></li>
              </ul>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to t(".list_tour"), mytours_path,
                  class: "booking" %></li>
                <% if logged_in? %>
                  <li>
                    <%= link_to "" do %>
                      <span class="glyphicon glyphicon-user"></span>
                      <%= current_user.name %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to current_user do %>
                        <span class="glyphicon glyphicon-list-alt"></span>
                        <%= t ".profile" %>
                    <% end %>
                  </li>

                  <li class="divider"></li>
                  <li>
                    <%= link_to logout_path, method: :delete do %>
                      <span class="glyphicon glyphicon-off"></span>
                      <%= t ".logout" %>
                    <% end %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to signup_path do %>
                      <span class="glyphicon glyphicon-user"></span>
                      <%= t ".signup" %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to login_path do %>
                      <span class="glyphicon glyphicon-user"></span>
                      <%= t ".login" %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
