<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><%= link_to t(".home"), "#" %></li>
        <li><%= link_to t(".listtour"), "#list" %></li>
        <li><%= link_to t(".booktour"), "#booked" %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li>
            <%= link_to edit_user_registration_path do %>
              <span class="glyphicon glyphicon-user"></span>
              <%= current_user.email %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <span class="glyphicon glyphicon-user"></span>
              <%= t ".signout" %>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_registration_path do %>
              <span class="glyphicon glyphicon-user"></span>
              <%= t ".signup" %>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path do %>
              <span class="glyphicon glyphicon-user"></span>
              <%= t ".login" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
