<div id="header">
  <div class="container-fluid">
    <nav id="nav">
      <ul>
        <li><%= link_to image_tag("logo.png", alt: t(".logo")), "#" %></li>
        <div class="dropdown">
          <button class="dropbtn">
            <a href="#list"><%= t ".listtour" %></a>
          </button>
        </div>
        <div class="dropdown">
          <button class="dropbtn">
            <a href="#booked"><%= t ".booktour" %></a>
          </button>
        </div>
        <div class="dropdown">
          <button class="dropbtn"><%= t ".acount" %></button>
          <div class="dropdown-content">
              <a href="#"><%= t ".login" %></a>
              <a href="#"><%= t ".signup" %></a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">
            <a href="#"><%= t ".contact" %></a>
          </button>
        </div>
        <div class="dropdown">
          <button class="dropbtn">
            <%= link_to image_tag("vn.png", alt: t(".vnlogo")), "#" %>
          </button>
          <div class="dropdown-logo">
            <%= link_to image_tag("en.png", alt: t(".enlogo")), "#" %>
          </div>
        </div>
      </ul>
    </nav>
  </div>
</div>
